@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #f4d04e;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5rem;
  padding: 24px 24px;
  background-color: #fff;
  height: auto;
  width: 384px;
  border-radius: 20px;
  border: #121212ff solid 1px;
  box-shadow: 10px 10px #000000;
}

/* IMAGE STYLING */

.img-banner {
  border-radius: 10px;
}

/* CONTENT STYLING */

.yellow-header {
  margin-bottom: 12px;
  font-size: 14px;
  background-color: #f4d04e;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 4px;
  color: hsl(0, 0%, 7%);
}

h1 {
  margin-bottom: 12px;
  font-size: 24px;
  color: hsl(0, 0%, 7%);
}

p {
  margin-bottom: 12px;
  font-size: 16px;
  color: hsl(0, 0%, 42%);
}

.date-published {
  color: hsl(0, 0%, 7%);
}

.user-profile {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-items: center;
  color: hsl(0, 0%, 7%);
}

.user-profile img {
  width: 32px;
}

.user-profile h2 {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 375px) {
  .container {
    width: 325px;
  }
}
