@use "mixins" as *;
@use "variables" as *;

html {
  box-sizing: border-box;
  //   font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page-title {
  @include text-preset(2);
  color: $grey-500;
}

.page-subtitle {
  @include text-preset(1);
  color: $grey-500;
  padding-bottom: 16px;
}

.page-description {
  @include text-preset(4);
  color: $grey-500;
  text-align: center;
}

.card-wrapper-title {
  @include text-preset(3);
  color: $grey-500;
  margin-bottom: 0.375rem;
}

.card-wrapper-description {
  @include text-preset(5);
  color: $grey-400;
  margin-bottom: 2rem;
}

// Mobile first Layout

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  margin: 3.5rem 1.8125rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3.75rem;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px black solid;
  margin-bottom: 2rem;
}

.card-bottom-icon {
  height: auto;
  width: 64px;
  margin-left: 0;
}
