@use "mixins" as *;
@use "variables" as *;

.page-title {
  @include text-preset(2);
  color: $grey-500;
}

.page-subtitle {
  @include text-preset(1);
  color: $grey-500;
  padding-bottom: 16px;
}

.page-description {
  @include text-preset(4);
  color: $grey-500;
  text-align: center;
}

.card-wrapper-title {
  @include text-preset(3);
  color: $grey-500;
  margin-bottom: 0.375rem;
}

.card-wrapper-description {
  @include text-preset(5);
  color: $grey-400;
  margin-bottom: 2rem;
}

// Mobile first Layout

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  margin: 56px 29px;
}

.title-wrapper {
  display: grid;
  justify-items: center;
  margin-bottom: 3.75rem;
}
.card-content {
  display: grid;
  gap: 32px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 314px;
  min-height: 250px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  position: relative;
}

.card-bottom-icon {
  height: auto;
  width: 64px;
  margin-left: 0;
  position: absolute; // place image in the right bottom corner
  bottom: 32px;
  right: 32px;
}

.cyan-color {
  border-top: 4px $cyan solid;
}

.red-color {
  border-top: 4px $red solid;
}

.orange-color {
  border-top: 4px $orange solid;
}

.blue-color {
  border-top: 4px $blue solid;
}

// Tablet

@media (width >= 768px) {
  .page-title {
    @include text-preset(2);
    font-size: 36px;
  }
  .page-subtitle {
    @include text-preset(1);
    font-size: 36px;
  }
  .card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 32px;
  }

  .card-wrapper {
    width: 314px;
    height: 250px;
  }
  .cyan-color {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .red-color {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .orange-color {
    grid-column: 2;
    grid-row: 3 / 5;
  }

  .blue-color {
    grid-column: 3;
    grid-row: 2 / 4;
  }
}

// Desktop 1440px
@media (width >= 1440px) {
  .card-wrapper {
    width: 350px;
    height: 250px;
  }
}
