// Colors

// Primary
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// Neutrals
$grey-500: hsl(234, 12%, 34%);
$grey-400: hsl(212, 6%, 44%);
$white: hsl(0, 0%, 100%);

// Spacing

$spacing-50: 0.25rem; //4px
$spacing-100: 0.5rem; //8px
$spacing-200: 1rem; //16px
$spacing-300: 1.5rem; //24px
$spacing-400: 2rem; //32px
$spacing-500: 2.5rem; //40px
