@use "variables" as *;

@mixin text-preset($number) {
  @if $number == 1 {
    font-family: $font-fraunces;
    font-weight: $font-weight-bold;
    font-size: $font-size-32;
    line-height: 1;
  } @else if $number == 2 {
    font-family: $font-montserrat;
    font-weight: $font-weight-bold;
    font-size: $font-size-14;
    line-height: 1.1;
  } @else if $number == 3 {
    font-family: $font-montserrat;
    font-weight: $font-weight-medium;
    font-size: $font-size-14;
    line-height: 1.6;
  } @else if $number == 4 {
    font-family: $font-montserrat;
    font-weight: $font-weight-medium;
    font-size: $font-size-12;
    line-height: 1.2;
    letter-spacing: 5px;
  }
}
