// Colors

// Primary
$green-500: hsl(158, 36%, 37%);
$green-700: hsl(158, 42%, 18%);

// Neutrals
$black: hsl(212, 21%, 14%);
$grey: hsl(228, 12%, 48%);
$cream: hsl(30, 38%, 92%);
$white: hsl(0, 0%, 100%);

// Spacing

$spacing-50: 0.25rem; //4px
$spacing-100: 0.5rem; //8px
$spacing-200: 1rem; //16px
$spacing-300: 1.5rem; //24px
$spacing-400: 2rem; //32px
$spacing-500: 2.5rem; //40px

// Typography

// Font Families
$font-montserrat: "Montserrat", sans-serif;
$font-fraunces: "Fraunces", serif;

// Font Weights
$font-weight-bold: 700;
$font-weight-medium: 500;

// Font Sizes
$font-size-32: 2rem; //32px
$font-size-12: 0.75rem; //12px
$font-size-14: 0.875rem; //14px
$font-size-13: 0.8125rem; //13px

// Text Preset
$text-presets: (
  1: (
    family: $font-fraunces,
    weight: $font-weight-bold,
    size: $font-size-32,
    line-height: 1,
  ),
  2: (
    family: $font-montserrat,
    weight: $font-weight-bold,
    size: $font-size-14,
    line-height: 1.1,
  ),
  3: (
    family: $font-montserrat,
    weight: $font-weight-medium,
    size: $font-size-14,
    line-height: 1.6,
  ),
  4: (
    family: $font-montserrat,
    weight: $font-weight-medium,
    size: $font-size-12,
    line-height: 1.2,
    letter-spacing: 5px,
  ),
  5: (
    family: $font-montserrat,
    weight: $font-weight-medium,
    size: $font-size-13,
    line-height: 1.2,
  ),
);
