@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

:root {
  --white: #fff;
  --grey: #949494;
  --blue-800: #242742;
  --blue-700: #36384d;
  --red: #ff6155;

  --gradient-1: #ff6a3a;
  --gradient-2: #ff527b;

  --font-regular: 400;
  --font-bold: 700;
}

.hidden {
  display: none !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: "Roboto", sans-serif;
  min-height: 100dvh;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 40px 24px 40px;
  gap: 24px;
  flex: 1;
}

.hero-banner {
  background-image: url(./assets/images/illustration-sign-up-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 16px 16px;
  width: 100%;
  height: 284px;
}

.form-heading {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-heading__title,
.form-dismiss__title {
  font-size: 40px;
  line-height: 1;
  font-weight: var(--font-bold);
  color: var(--blue-800);
}

.form-heading__description,
.form-heading__items,
.form-dismiss__description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--blue-800);
}

.form-heading__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.form-heading__items {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.form-heading__items::before {
  content: "";
  display: block;
  background-image: url(./assets/images/icon-list.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  transform: translateY(0.15rem);
  /* translateY needed to align bullet and li itens offsetting the line-height:1.5 */
}

.form-fields {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.email-title {
  font-weight: var(--font-bold);
  font-size: 12px;
  color: var(--blue-800);
  line-height: 1.5;
  margin-bottom: 8px;
}

.email-input {
  border-radius: 8px;
  border: 1px solid var(--grey);
  padding: 16px;
  color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  font-weight: var(--font-regular);
  margin-bottom: 24px;
}

.form-submit__button,
.form-dismiss__button {
  background-color: var(--blue-800);
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  font-weight: var(--font-bold);
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  margin: auto;
}

.form-submit {
  display: block;
  /* margin: auto; */
  width: 100%;
}

/****************** SUCCESS STATE  ******************/

.success-state {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  min-height: 100dvh;
  padding: 60px 16px;
}

.success-banner {
  background-image: url(./assets/images/icon-success.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

/******************** MEDIA QUERIES  ********************/

@media (min-width: 48rem) {
  body {
    background-color: var(--blue-800);
  }
  .container {
    background-color: var(--white);
    padding: 40px;
    border-radius: 36px;
    min-width: 608px;
    min-height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-banner {
    border-radius: 16px;
    width: auto;
    height: 358px;
  }

  .success-state {
    max-width: 504px;
    min-height: auto;
    padding: 24px;
  }
}

@media (min-width: 90rem) {
  .container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    align-items: stretch;
    padding: 32px;
    max-width: 900px;
    min-height: auto;
    gap: 64px;
  }

  .hero-banner {
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: auto;
    min-height: 593px;
    grid-column: 2;
    grid-row: 1;
  }

  .form-container {
    grid-column: 1;
    grid-row: 1;
    padding: 0;
    margin: auto;
  }

  /* .success-state {
    max-width: 500px;
    height: auto;
    gap: 0;
  } */
}
