@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /* COLORS */
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  /* FONT FAMILIES and WEIGHTS */
  --text-preset-1: "Young Serif", serif;
  --text-preset-1-regular: 400;
  --text-preset-3: "Outfit", sans-serif;
  --text-preset-3-regular: 400;
  --text-preset-3-semibold: 600;
  --text-preset-3-bold: 700;

  /* FONT SIZES */
  --font-size-paragraph: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--stone-100);
  gap: 0;
  width: 100%; /* full width responsive*/
  min-height: 100vh; /*allow it to expand and scroll if needed*/
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 24px;
  padding: 40px;
  max-width: 736px;
  width: 100%;
}

/* CONTAINER IMAGE */

.container-image {
  display: flex;
  margin-bottom: 40px;
}

.img-hero {
  width: 100%; /* fill container*/
  height: 300px;
  border-radius: 12px;
}

/* CONTAINER INFO */

.container-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

/* RECIPE INFO */

.recipe-info {
  display: flex;
  flex-direction: column;
}

.recipe-info h1 {
  font-family: var(--text-preset-1);
  font-weight: var(--text-preset-1-regular);
  color: var(--stone-900);
  font-size: 40px;
  margin-bottom: 24px;
}

.recipe-info p {
  font-weight: var(--text-preset-1-regular);
  font-size: var(--font-size-paragraph);
  color: var(--stone-600);
}

/* PREPARATION TIME */

.prep-time {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background-color: var(--rose-50);
  border-radius: 12px;
}
.prep-time h2 {
  color: var(--rose-800);
  font-family: var(--text-preset-3);
  font-weight: var(--text-preset-3-semibold);
  font-size: 20px;
}

.prep-time ul {
  list-style: none; /* remove all style from ul list */
  padding-left: 0;
  color: var(--stone-600);
}

.prep-time ul li::before {
  padding-left: 8px;
  color: var(--rose-800);
  width: 40px;
  content: "•";
  display: inline-block;
  margin-bottom: 8px;
}

/* INGREDIENTS */

.ingredients h2 {
  font-family: var(--text-preset-1);
  font-weight: var(--text-preset-1-regular);
  font-size: 28px;
  color: var(--brown-800);
  margin-bottom: 24px;
}

.ingredients ul {
  list-style: none;
  padding-left: 0;
  color: var(--stone-600);
}

.ingredients ul li::before {
  padding-left: 8px;
  content: "•";
  display: inline-block;
  margin-bottom: 8px;
  color: var(--brown-800);
  width: 40px;
}
