/************************** STYLING RESETS ****************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/********************************* ROOT STYLING *******************/

:root {
  font-size: 62.5%;
  /* 1rem = 10px */

  /****************************** Colors ******/

  /* Primary */

  --purple-600: hsl(246, 80%, 60%);

  --orange-300-work: hsl(15, 100%, 70%);
  --blue-300-play: hsl(195, 74%, 62%);
  --pink-400-study: hsl(348, 100%, 68%);
  --green-400-exercise: hsl(145, 58%, 55%);
  --purple-700-social: hsl(264, 64%, 52%);
  --yellow-300-self-care: hsl(43, 84%, 65%);

  /* Neutral */

  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --navy-800: hsl(235, 41%, 34%);
  --navy-200: hsl(236, 100%, 87%);
  --purple-500: hsl(235, 45%, 61%);
  --white: hsl(0, 0%, 100%);

  /* Font Weight */

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  /* SPACING  */

  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 8.1rem 2.4rem;

  background: var(--navy-950);
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-weight: var(--fw-light);
}

.activity-tracker {
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: var(--spacing-200);
}

.activity-tracker__menu {
  background: var(--navy-900);
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}

.activity-tracker__owner {
  width: 100%;
  background: var(--purple-600);
  border-radius: 15px;
  padding: var(--spacing-400);
  gap: var(--spacing-100);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.activity-tracker__owner-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
}

.activity-tracker__owner-img {
  height: 6.4rem;
  width: 6.4rem;
  border: 0.3rem var(--white) solid;
  border-radius: 50%;
}

.activity-tracker__owner-for {
  color: var(--navy-200);
  font-weight: var(--fw-regular);
  font-size: 15px;
  line-height: 1.8rem;
}

.activity-tracker__owner-name {
  font-weight: var(--fw-light);
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.activity-tracker__options {
  padding: var(--spacing-300);
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 1rem;
}

.activity-tracker__option-btn {
  width: max-content;
  color: var(--purple-500);
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: var(--fw-regular);
  line-height: 2.1rem;
}

.activity-tracker__option-btn.active,
.activity-tracker__option-btn:hover {
  color: var(--white);
}

.card-activity {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.card-activity__info:hover {
  background: var(--navy-800);
  transition: 0.4s ease;
}

.card-activity__bg-img {
  background: var(--orange-300-work);
  margin-bottom: -15px;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: visible;
  position: relative;
  z-index: 1;
  padding-right: var(--spacing-300);
  flex-shrink: 0;
}

.card-activity__bg-img img {
  position: relative;
  z-index: 1;
  height: 78px;
  width: 78px;
  margin-top: -10px;
}

.card-activity__info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  background: var(--navy-900);
  width: 100%;
  height: 100%;
  padding: var(--spacing-300);
  gap: var(--spacing-100);
}

.card-activity__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.card-activity__type {
  font-weight: var(--fw-medium);
  font-size: 18px;
  line-height: 21px;
}

.card-activity__dropdown {
  position: relative;
}

.card-activity__dropdown button {
  cursor: pointer;
}

.dropdown {
  visibility: hidden;
}

.dropdown.open {
  visibility: visible;
}

.dropdown__options {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--spacing-100);
  background: rgba(15, 20, 36, 0.99);
  padding: 12px;
  border-radius: 8px;
  position: absolute;
  font-size: 13px;
  top: 0;
  right: 0;
  z-index: 1000;
}

.align-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.dropdown__option-btn,
.dropdown__options i {
  width: max-content;
  color: var(--purple-500);
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: var(--fw-light);
  line-height: 2.1rem;
}

.dropdown__option-btn:hover,
.dropdown__options i:hover {
  color: var(--white);
}

.card-activity__timeframes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-activity__current-timeframe {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: var(--fw-light);
}

.card-activity__previous-timeframe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

p,
.previous-timeframe,
.previous-time {
  color: var(--navy-200);
  font-size: 15px;
  line-height: 18px;
  font-weight: var(--fw-regular);
}

/* Background Cards COLORS */

.card-activity__bg-img.work {
  background: var(--orange-300-work);
}

.card-activity__bg-img.play {
  background: var(--blue-300-play);
}

.card-activity__bg-img.study {
  background: var(--pink-400-study);
}

.card-activity__bg-img.exercise {
  background: var(--green-400-exercise);
}

.card-activity__bg-img.social {
  background: var(--purple-700-social);
}

.card-activity__bg-img.self-care {
  background: var(--yellow-300-self-care);
}

@media screen and (min-width: 500px) {
  .activity-tracker {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-template-rows: 1fr 1fr;
    min-height: 51.8rem;
    gap: var(--spacing-300);
  }

  .activity-tracker__menu {
    grid-row: 1/3;
    grid-column: 1/ -1;
    display: flex;
    flex-flow: column nowrap;
  }

  .activity-tracker__owner {
    gap: var(--spacing-300);
  }

  .activity-tracker__owner-img {
    width: 78px;
    height: 78px;
  }

  .activity-tracker__owner-container {
    gap: var(--spacing-100);
    max-width: 60%;
  }

  .activity-tracker__options {
    justify-content: space-evenly;
  }

  .card-activity__info {
    gap: var(--spacing-200);
  }

  .card-activity__timeframes {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200);
  }

  .card-activity__current-timeframe {
    font-size: 5.6rem;
    line-height: 6.6rem;
  }

  .dropdown__options {
    flex-direction: column;
    gap: 5px;
  }
}

@media screen and (min-width: 1110px) {
  .activity-tracker {
    max-width: 111rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }

  .activity-tracker__menu {
    grid-column: 1;
    grid-row: 1 /3;
  }

  .activity-tracker__owner {
    gap: var(--spacing-500);
    height: 354px;
  }

  .activity-tracker__owner-name {
    font-size: 4rem;
    line-height: 4.7rem;
  }

  .activity-tracker__options {
    flex-direction: column;
    justify-content: space-between;
  }
}
