@use "variables" as var;
@use "typography" as typo;

// Button section typography

.hero__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include typo.tablet {
    display: flex;
    flex-direction: row;
  }
}

.btn {
  @include typo.text-preset-5;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  border-radius: 29px;
  color: var.$white;
  padding: 16px 40px;
  cursor: pointer;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;

  &--primary {
    background-color: var.$cyan-600;
  }

  &--secondary {
    background-color: var.$purple-600;
  }

  &--footer {
    background-color: var.$purple-600;

    .btn__version {
      color: var.$purple-300;
    }
  }

  &__version {
    color: var.$cyan-300;
  }
}
