@use "variables" as var;

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 80px 0 80px;
}

.hero {
  padding: 64px 32px 32px 32px;
}

.combined-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 160px;
  gap: 17px;
}

.text-content {
  padding-top: 48px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

// Main section

// Number line
.number-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-line {
  width: 1px;
  height: 80px;
  border: 0.5px solid var.$slate-300;
}

.number-circle {
  border: 1px solid var.$slate-300;
  border-radius: 50%;
  color: var.$slate-600;
  padding: 18px;
  background-color: var.$white;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 64px;
}

// GRID IMAGES LAYOUT

.grid-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(147px, 2fr));
  gap: 16px;
}

img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

// Second main text content
.text-content-2 {
  padding: 0 0 64px 0;
  display: flex;
  flex-direction: column;
}

.gap-16 {
  padding-top: 16px;
}

.gap-32 {
  padding-top: 32px;
}

// Footer layout

.hero-footer {
  margin-top: -28px;
}

.content-footer {
  background-image:
    linear-gradient(rgba(77, 151, 169, 0.8), rgba(77, 151, 169, 0.8)),
    url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 64px 32px 32px 32px;
}

.footer-title,
.footer-para {
  text-align: center;
}
