@use "typography" as typo;
@use "variables" as var;
@use "sass:map";

@mixin text($preset) {
  $text: map.get(typo.$text-presets, $preset);
  font-family: map.get($text, family);
  font-weight: map.get($text, weigth);
  font-size: map.get($text, size);
  line-height: map.get($text, line-height);
  letter-spacing: map.get($text, letter-spacing);
}

// Mobile first styling
// Headings typography

.hero__title {
  @include text(1);
  color: var.$slate-900;
  text-align: center;
}

.features__title {
  @include text(2);
  text-align: center;
  font-weight: bold;
}

.section__description {
  @include text(4);
  color: var.$slate-600;
  text-align: center;
}

.section__subtitle {
  @include text(3);
  color: var.$cyan-600;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

// Button section typography

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.btn--primary {
  background-color: var.$cyan-600;
  @include text(5);
  color: var.$white;
  font-weight: bold;
  border: none;
  width: 193px;
  padding: 16px 40px;
  border-radius: 29px;
  display: flex;
  gap: 4px;
}

.btn__version {
  color: var.$cyan-300;
}

.btn--secondary {
  @include text(5);
  color: var.$white;
  background-color: var.$purple-600;
  padding: 16px 40px;
  border-radius: 29px;
  width: 161px;
  border: none;
  font-weight: bold;
}

// CTA Footer

.cta__title {
  @include text(2);
  color: var.$white;
}

.cta__description {
  @include text(4);
  color: var.$white;
}

.btn-terciary {
  @include text(5);
  color: var.$white;
  background-color: var.$purple-600;
  font-weight: bold;
  border: none;
  width: 193px;
  padding: 16px 40px;
  border-radius: 29px;
  display: flex;
  gap: 8px;
}

.cta-btn__version {
  color: var.$purple-300;
}
