@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900);
  gap: 0;
}

.container {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  padding: 40px 40px;
  background-color: var(--grey-800);
  height: 611px;
  width: 384px;
  border-radius: 20px;
}

/* SECTION ABOUT */

.about {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  line-height: 1.5rem;
  margin-bottom: 24px;
}

.name {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 24px;
  gap: 4px;
}

img {
  width: 88px;
  border-radius: 50%;
}

.name h1 {
  font-size: 24px;
  color: var(--white);
  font-weight: 700;
}

.name .location {
  color: var(--green);
  font-weight: 600;
  font-size: 14px;
}

.about p {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
}

/* SECTION CONNECT  */

.connect {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  height: auto;
}

.connect .btn {
  background-color: var(--grey-700);
  padding: 12px 12px;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
}

.connect .btn a {
  color: inherit;
  text-decoration: none;
}

/* ACTIVE BUTTON STATE */

.btn:active {
  background-color: var(--green);
  color: var(--grey-700);
}

.btn:hover {
  background-color: var(--green);
  color: var(--grey-700);
}

@media (max-width: 375px) {
  .container {
    width: 327px;
  }
}
