@use "mixins" as mixin;
@use "typography" as typo;
@use "variables" as var;

// Typography
.full-name {
  @include mixin.text(2);
}

.verified {
  @include mixin.text(4);
}

.quote-highlight {
  @include mixin.text(1);
  z-index: 1;
}

.quote-paragraph {
  @include mixin.text(3);
}

// Layout Mobile first

.container {
  display: flex;
  flex-direction: column;
  margin: 73px 35px;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 32px;
  gap: 16px;
  color: var.$grey-100;
}

.daniel {
  background-color: var.$purple-500;
  grid-area: daniel;
  .profile {
    outline-style: solid; //outline border style
    outline-color: var.$purple-300;
    outline-width: 2px;
  }
}

.jonathan {
  grid-area: jonathan;
  background-color: var.$grey-500;
}

.jeannette {
  grid-area: jeannette;
}

.kira {
  grid-area: kira;
}

.jeannette,
.kira {
  background-color: var.$white;
  color: var.$grey-500;
}

.patrick {
  background-color: var.$dark-blue;
  grid-area: patrick;
  .profile {
    outline-style: solid; //outline border style
    outline-color: var.$purple-500;
    outline-width: 2px;
  }
}

.photo-profile {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.profile-name {
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1;
}

.profile {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.big-quotation {
  display: none; //hide big-quotation mark in mobile
}

// Tablet
@media (width >= 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "daniel daniel"
      "jonathan jeannette"
      "patrick patrick"
      "kira kira";
    position: relative;
  }

  .big-quotation {
    position: absolute;
    top: 0;
    right: 164px;
    width: 100px;
    display: block;
    opacity: 50%;
  }
}

//Desktop
@media (width >= 1440px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeannette patrick patrick kira";
  }
}
