@use "typography" as typo;
@use "sass:map";

@mixin text($preset) {
  $text: map.get(typo.$text-presets, $preset);
  font-family: map.get($text, family);
  font-size: map.get($text, size);
  font-weight: map.get($text, weight);
  line-height: map.get($text, line-height);
  letter-spacing: map.get($text, letter-spacing);
}
