@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;

  --primary-red-400: hsl(0, 100%, 74%);

  --primary-green-400: rgb(56, 204, 140);
  --primary-green-300: rgb(78, 218, 157);

  --accent-purple-700: hsl(248, 32%, 49%);
  --neutral-purple-400: hsl(247, 32%, 72%);
  --neutral-purple-350: hsl(246, 25%, 77%);

  --neutral-gray-900: hsl(249, 10%, 26%);
  --neutral-gray-200: hsl(0, 0%, 87%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(./images/bg-intro-mobile.png);
  background-size: cover;
  background-color: var(--primary-red-400);
  background-blend-mode: multiply;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.main-container__title {
  font-size: 28px;
  font-weight: var(--bold);
  line-height: 1.3;
}

.main-container__paragraph {
  font-size: 1rem;
  font-weight: var(--medium);
  line-height: 1.65;
  margin-bottom: 4rem;
}

/* FORM CONTAINER */

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-container__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1.75;
  font-weight: var(--regular);
  background-color: var(--accent-purple-700);
  min-height: 5.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1469);
}

.form-container__banner span {
  font-weight: var(--bold);
}

/* FORM STYLING  */

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1469);
  gap: 1rem;
}

.form-field {
  position: relative;
  display: block;
  width: 100%;
}

.form-field__label {
  position: absolute;
  width: 1;
  height: 1;
  overflow: hidden;
  white-space: nowrap;
}

.form-field__input {
  font-family: "Poppins", sans-serif;
  border: 1px solid var(--neutral-gray-200);
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  line-height: 1.75;
  font-weight: var(--regular);
  color: var(--neutral-gray-900);
  padding: 1rem 1.5rem;
  width: 100%;
}

.form-field__input:focus,
.form-field__input:active {
  border-color: var(--primary-red-700);
}

.form-field__error {
  display: none;
}

.form-field--error .form-field__error {
  display: block;
  color: var(--primary-red-400);
  font-size: 11px;
  line-height: 1.55;
  font-style: italic;
  font-weight: var(--medium);
  margin-bottom: 8px;
}

.form-field--error .form-field__input {
  border-color: var(--primary-red-400);
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding: 1rem 2rem;
}

/* FORM SUBMIT BUTTON SECTION */

.form-submit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-submit__button {
  background-color: var(--primary-green-400);
  font-size: 15px;
  line-height: 1.75;
  font-weight: var(--bold);
  letter-spacing: 2px;
  text-wrap: nowrap;
  color: #fff;
  text-transform: uppercase;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.0909);
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  width: 100%;
}

.form-submit__terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 1.9;
  text-wrap: nowrap;
  font-weight: var(--medium);
  color: var(--neutral-purple-350);
}

.form-submit__terms-link {
  text-decoration: none;
  font-weight: var(--bold);
  color: var(--primary-red-400);
}
