@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;

  --white: hsl(0, 0%, 100%);
  --primary-red-400: hsl(0, 100%, 74%);

  --primary-green-400: rgb(56, 204, 140);
  --primary-green-300: rgb(78, 218, 157);

  --accent-purple-700: hsl(248, 32%, 49%);
  --neutral-purple-400: hsl(247, 32%, 72%);
  --neutral-purple-350: hsl(246, 25%, 77%);

  --neutral-gray-900: hsl(249, 10%, 26%);
  --neutral-gray-200: hsl(0, 0%, 87%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(./images/bg-intro-mobile.png);
  background-size: cover;
  background-color: var(--primary-red-400);
  background-blend-mode: multiply;
  color: var(--white);
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.main-container__title {
  font-size: 28px;
  font-weight: var(--bold);
  line-height: 1.3;
  letter-spacing: 0.3px;
}

.main-container__paragraph {
  font-size: 1rem;
  font-weight: var(--medium);
  line-height: 1.65;
  margin-bottom: 4rem;
}

/***************************** FORM CONTAINER *****************/

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-container__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1.75;
  letter-spacing: 0.25px;
  font-weight: var(--regular);
  background-color: var(--accent-purple-700);
  min-height: 5.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1469);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.form-container__banner span {
  font-weight: var(--bold);
}

/*********************** FORM STYLING  **********************/

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.1469);
  gap: 1rem;
}

.form-field {
  position: relative;
  display: block;
  width: 100%;
}

.form-field__label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.form-field__input {
  font-family: "Poppins", sans-serif;
  border: 1px solid var(--neutral-gray-200);
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  line-height: 1.75;
  font-weight: var(--regular);
  color: var(--neutral-gray-900);
  max-height: 3.5rem;
  padding: 1rem 1.5rem;
  width: 100%;
}

.form-field__input:focus,
.form-field__input:active {
  border-color: var(--accent-purple-700);
}

/************************* FORM ERROR STYLING ********************/
.form-field__error {
  display: none;
  display: flex;
  justify-content: flex-end;
}

.form-field--error .form-field__error {
  display: block;
  text-align: right;
  color: var(--primary-red-400);
  font-size: 11px;
  line-height: 1.55;
  font-style: italic;
  font-weight: var(--medium);
  margin-top: 8px;
}

.form-field--error .form-field__input {
  border-color: var(--primary-red-400);
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding: 1rem 2rem;
}

.form-field--success .form-field__input {
  border-color: var(--primary-green-400);
}

/************************ FORM SUBMIT BUTTON SECTION ***************/

.form-submit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-submit__button {
  background-color: var(--primary-green-400);
  font-size: 15px;
  line-height: 1.75;
  font-weight: var(--bold);
  letter-spacing: 2px;
  white-space: nowrap;
  color: var(--white);
  text-transform: uppercase;
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.0909);
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  width: 100%;
  cursor: pointer;
}

.form-submit__button:hover,
.form-submit__button:active {
  background-color: var(--primary-green-300);
}

.form-submit__terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 1.9;
  white-space: nowrap;
  font-weight: var(--medium);
  color: var(--neutral-purple-350);
}

.form-submit__terms-link {
  text-decoration: none;
  font-weight: var(--bold);
  color: var(--primary-red-400);
}

/********************************* MEDIA QUERIES *******************/
@media (min-width: 48rem) {
  body {
    margin: 3rem 4rem;
    background-image: url(./images/bg-intro-desktop.png);
  }

  .main-container {
    max-width: 33.75rem;
  }

  .main-container__title {
    font-size: 3.125rem;
    line-height: 1.1;
    letter-spacing: 0.5px;
  }

  .main-container__paragraph {
    font-size: 1rem;
    line-height: 1.65;
  }

  .form-container {
    width: 33.75rem;
  }

  .form-container__banner {
    max-width: 33.75rem;
    flex-direction: row;
    min-height: 3.75rem;
  }

  .form-fields {
    padding: 2rem;
    gap: 1.5rem;
  }

  .form-field__input {
    padding: 1rem 2rem;
  }

  .form-submit {
    min-height: 3.5rem;
    width: 100%;
  }
  .form-submit__terms {
    flex-direction: row;
  }
}

@media (min-width: 90rem) {
  body {
    flex-direction: row;
    gap: 3rem;
  }

  .container {
    flex-direction: row;
    margin: 2rem auto;
  }

  .main-container__title {
    text-align: left;
  }

  .main-container__paragraph {
    text-align: left;
  }
}
