html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.hero__title {
  font-weight: 900;
  letter-spacing: 0;
  font-size: 2.4rem;
  line-height: 110%;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .hero__title {
    font-size: 4rem;
  }
}
.hero__title {
  color: #28283d;
  text-align: center;
}

.features__title {
  font-weight: 900;
  letter-spacing: 0;
  font-size: 2rem;
  line-height: 110%;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 1024px) {
  .features__title {
    font-size: 2.5rem;
  }
}
.features__title {
  text-align: center;
}

.section__description,
.hero__description {
  font-weight: 500;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 150%;
}
@media (min-width: 768px) {
  .section__description,
  .hero__description {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .section__description,
  .hero__description {
    font-size: 1.125rem;
  }
}
.section__description,
.hero__description {
  color: #87879d;
  text-align: center;
}

.section__subtitle {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  line-height: 110%;
}
@media (min-width: 768px) {
  .section__subtitle {
    font-size: 0.875rem;
  }
}
@media (min-width: 1024px) {
  .section__subtitle {
    font-size: 1rem;
  }
}
.section__subtitle {
  color: #4d96a9;
  text-align: center;
  padding-bottom: 1rem;
}

.section__title {
  font-weight: 900;
  letter-spacing: 0;
  font-size: 2rem;
  line-height: 110%;
}
@media (min-width: 768px) {
  .section__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 1024px) {
  .section__title {
    font-size: 2.5rem;
  }
}
.section__title {
  color: #28283d;
  text-align: center;
  padding-bottom: 2rem;
}

.cta__title {
  font-weight: 900;
  letter-spacing: 0;
  font-size: 2rem;
  line-height: 110%;
}
@media (min-width: 768px) {
  .cta__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 1024px) {
  .cta__title {
    font-size: 2.5rem;
  }
}
.cta__title {
  color: #fafafa;
}

.cta__description {
  font-weight: 500;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 150%;
}
@media (min-width: 768px) {
  .cta__description {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .cta__description {
    font-size: 1.125rem;
  }
}
.cta__description {
  color: #fafafa;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 5rem 0 5rem;
}
@media (min-width: 1024px) {
  .header {
    padding: 5rem 5rem 0 5rem;
  }
}

.hero {
  padding: 4rem 2rem 2rem 2rem;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 2fr minmax(0, 1fr);
    align-items: center;
    padding: 4rem 0;
  }
}

.hero__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 160px;
  gap: 17px;
}
.hero__images img {
  height: 100%;
  width: auto;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .hero__images {
    background-repeat: no-repeat;
    height: 303px;
    gap: 32px;
  }
}
@media (min-width: 1024px) {
  .hero__images {
    display: contents;
    height: 360px;
  }
  .hero__images img:first-child {
    grid-column: 1;
    justify-self: start;
  }
  .hero__images img:last-child {
    grid-column: 3;
    order: 1;
    justify-self: end;
  }
}

.hero__content {
  padding-top: 3rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__content {
    padding-top: 72px;
    max-width: 450px;
    justify-self: center;
  }
}
@media (min-width: 1024px) {
  .hero__content {
    padding: 0 32px;
  }
}

.section-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-marker__line {
  width: 1px;
  height: 80px;
  border: 0.5px solid #d1d1df;
}

.section-marker__number {
  border: 1px solid #d1d1df;
  border-radius: 50%;
  color: #87879d;
  padding: 18px;
  background-color: #fafafa;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 4rem;
}

.features__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(147px, 2fr));
  gap: 1rem;
}
.features__gallery img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
@media (min-width: 1024px) {
  .features__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 2fr));
  }
}

.features {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 4rem 2rem;
  gap: 4rem;
}
@media (min-width: 1024px) {
  .features {
    padding: 3.5rem 4rem 4.5rem 4rem;
  }
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .features__content {
    max-width: 540px;
  }
}
@media (min-width: 1024px) {
  .features__content {
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
  }
}

.cta {
  display: flex;
  flex-direction: column;
}
.cta .section-marker {
  margin-bottom: -1.75rem;
  z-index: 1;
}

.cta__content {
  background-image: linear-gradient(rgba(77, 151, 169, 0.8), rgba(77, 151, 169, 0.8)), url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 4rem 2rem 2rem 2rem;
}
@media (min-width: 1024px) {
  .cta__content {
    background-image: linear-gradient(rgba(77, 151, 169, 0.8), rgba(77, 151, 169, 0.8)), url("../assets/desktop/image-footer.jpg");
    gap: 2rem;
    padding: 7rem 5rem;
    height: 300px;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .cta__title {
    max-width: 420px;
  }
}

@media (min-width: 1024px) {
  .cta__description {
    max-width: 420px;
  }
}

.hero__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .hero__actions {
    display: flex;
    flex-direction: row;
  }
}

.btn {
  font-weight: 900;
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 150%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  border-radius: 29px;
  color: #fafafa;
  padding: 16px 40px;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.btn--primary {
  background-color: #4d96a9;
}
.btn--secondary {
  background-color: #855fb1;
}
.btn--footer {
  background-color: #855fb1;
}
.btn--footer .btn__version {
  color: #d9b8ff;
}
.btn__version {
  color: #8fe3f9;
}/*# sourceMappingURL=styles.css.map */